* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: #dce0e5 url(kimson-doan.png);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}
span {
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(myth-black.png);
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
  border-radius: 50%;
}
